.list__tab {
    width: 95%;
    margin: 0 auto;
}

.list_button {
    width: 125px;
    margin: 6px;
    font-size: 1rem;
}

@media (min-width: 768px) {
    .list_button {
        margin: 3px;
    }
}